/* logo */
nav .title-topo {
    margin: 0 0 0 25px;
    line-height: 56px;
    font-size: 1.3rem;
    color: #fff;
    display: inline-block;  
    padding: 0;
    white-space: nowrap;
}
/* estilo do titulo */
.titulo {
    font-size: 1.3rem;
    margin-left: 5%;
    margin-right: auto;
}
/* fixo no topo */
.topo-fixo {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}
.section {
    padding-top: 125px;
}

.footer-fixo {
    width: 100%;
    z-index: 2;
    margin-bottom: 0;
}
nav .nav-wrapper i {
    width: 2rem;
    font-size: 1.8rem;
    line-height: 4rem;
    display: block;
    text-align: center;
}
.side-nav a {
    padding: 0;
}
.side-nav i {
    width: 2rem;
    font-size: 1.6rem;
    line-height: 4.7rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 0.5em;
}
hr {
    height: 1px;
    background-color: #ddd;
    border: none;
}

/* tabs */
.tabs {
    clear: both;
}
/* cor da aba */
.tabs .indicator {
    background-color: white;
}

.liquidsalary-item {
    display: none;
    
}
.liquidsalary-item-valign {
    min-height: 70vh;
}
.btn-more {
    width: 20px;
    height: 20px;
    background-color: #00897b;
    border-radius: 50%;
    line-height: 20px;
    text-align: center;
    color: white;
}


